/* Reuse section styles */
.sec-2 {
  position: relative;
  // display: flex;
  // flex-direction: row;

  .single-task {
    width: 90%;
  }

  .title-form {
    input {
      width: 97%;
    }
  }
}

/* 🎨 Paint/Color picker styles */
.paint {
  position: absolute;
  right: 5px;
  bottom: 5px;
  cursor: pointer;

  img {
    width: 20px;
  }
}

.color-change {
  position: absolute;
  right: -50px;
  bottom: 100;
  // background-color: #282e33;
  padding: 5px;
  // border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 100;
}

.single-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  // border: 2px solid black;
}
